<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 	<!-- servlet的配置 -->
 	<servlet>
 			<!-- servlet的名字,这里可以随便取名 -->
 			<servlet-name>CurrentTimeServlet</servlet-name>
 			<!-- servlet类的全路径 -->
 			<servlet-class>com.ambow.servlet.day1.CurrentTimeServlet</servlet-class>
 	</servlet>
 	<servlet>
 			<!-- servlet的名字,这里可以随便取名 -->
 			<servlet-name>LifeServlet</servlet-name>
 			<!-- servlet类的全路径 -->
 			<servlet-class>com.ambow.servlet.day1.LifeServlet</servlet-class>
 			
 			<init-param>
 				<param-name>USER_NAME</param-name>
 				
 				<param-value>icexu</param-value>
 			</init-param>
 			
 			<init-param>
 				
 				<param-name>PASSWORD</param-name>

				<param-value>4444</param-value>
 			</init-param>
 	
 	</servlet>
 	
 	<!-- add by allandou for seervlet day2 -->
 	
 	<servlet>
 			
 			<servlet-name>IPLogServlet</servlet-name>
 		
 			<servlet-class>com.ambow.servlet.day2.IPLogServlet</servlet-class>
 	
 			<init-param>
 			
 				<param-name>FILE_PATH</param-name>
 				
 				<param-value>d:\iplog.log</param-value>
 			</init-param>
 	</servlet>
 	
 	<servlet>
 			
 			<servlet-name>ParamListServlet</servlet-name>
 		
 			<servlet-class>com.ambow.servlet.day2.ParamListServlet</servlet-class>
 	
 		
 	</servlet>
 	
 	 	<servlet>
 			
 			<servlet-name>ParamListServlet2</servlet-name>
 		
 			<servlet-class>com.ambow.servlet.day2.ParamListServlet2</servlet-class>
 	
 		
 	</servlet>
 	
 		 	<servlet>
 			
 			<servlet-name>StudentListServlet</servlet-name>
 		
 			<servlet-class>com.ambow.servlet.day2.StudentListServlet</servlet-class>
 	
 		
 	</servlet>
 	
 	<!-- -add by allandou mvc -->
 	
 	<servlet>
 	
 			<servlet-name>ShowStudentListServlet</servlet-name>
 			
 			<servlet-class>com.ambow.servlet.day3.mvc.controll.ShowStudentListServlet</servlet-class>
 	</servlet>
 	
 		<servlet>
 	
 			<servlet-name>ShowStudentListServlet1</servlet-name>
 			
 			<servlet-class>com.ambow.servlet.day3.mvc.controll.ShowStudentListServlet1</servlet-class>
 	</servlet>
 		<servlet>
 	
 			<servlet-name>ViewStudentListServlet</servlet-name>
 			
 			<servlet-class>com.ambow.servlet.day3.mvc.view.ViewStudentListServlet</servlet-class>
 	</servlet>
 	
 		<servlet>
 			<!-- servlet的名字,这里可以随便取名 -->
 			<servlet-name>ControllServlet</servlet-name>
 			<!-- servlet类的全路径 -->
 			<servlet-class>com.ambow.jsp.day3.mvc.controll.ControllServlet</servlet-class>
 	</servlet>
 	
 		<servlet>
 			<!-- servlet的名字,这里可以随便取名 -->
 			<servlet-name>ErrorStudentListServlet</servlet-name>
 			<!-- servlet类的全路径 -->
 			<servlet-class>com.ambow.servlet.day3.mvc.view.ErrorStudentListServlet</servlet-class>
 	</servlet>
 	
 	<!-- -add by allandou  for struts -->
 	
 		<servlet>
 		
 				<servlet-name>ActionServlet</servlet-name>
 				
 				<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
 			
 				  <init-param>
      					<param-name>config</param-name>
     				 <param-value>/WEB-INF/struts-config.xml</param-value>
   				 </init-param>
 		
 		
 		
 		</servlet>
 	
 	<servlet-mapping>
 				<servlet-name>ActionServlet</servlet-name>
 				<url-pattern>*.do</url-pattern>
 	</servlet-mapping>
 	
 	
 	
 	
 	
 	<servlet-mapping>
 		<!-- 这里的servlet的name一定要和上面的servletname的名称一样 -->
 			<servlet-name>CurrentTimeServlet</servlet-name>
 		<!-- 客户的请求的url -->
 			<url-pattern>/servlet/day1/CurrentTimeServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 	<servlet-mapping>
 		<!-- 这里的servlet的name一定要和上面的servletname的名称一样 -->
 			<servlet-name>LifeServlet</servlet-name>
 		<!-- 客户的请求的url -->
 			<url-pattern>/servlet/day1/LifeServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 <!-- add by allandou for seervlet mapping day2 -->
 	 	
 	<servlet-mapping>
 		
 			<servlet-name>IPLogServlet</servlet-name>
 		
 			<url-pattern>/servlet/day2/IPLogServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	<servlet-mapping>
 		
 			<servlet-name>ParamListServlet</servlet-name>
 		
 			<url-pattern>/servlet/day2/ParamListServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	<servlet-mapping>
 		
 			<servlet-name>ParamListServlet2</servlet-name>
 		
 			<url-pattern>/servlet/day2/ParamListServlet2</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	<servlet-mapping>
 		
 			<servlet-name>StudentListServlet</servlet-name>
 		
 			<url-pattern>/servlet/day2/StudentListServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 		<!-- -add by allandou mvc -->
 		
 		 	<servlet-mapping>
 		
 			<servlet-name>ShowStudentListServlet</servlet-name>
 		
 			<url-pattern>/servlet/mvc/ShowStudentListServlet</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	<servlet-mapping>
 		
 			<servlet-name>ShowStudentListServlet1</servlet-name>
 		
 			<url-pattern>/servlet/mvc/ShowStudentListServlet1</url-pattern>
 						
 	</servlet-mapping>
 	 	<servlet-mapping>
 		
 			<servlet-name>ViewStudentListServlet</servlet-name>
 		
 			<url-pattern>/servlet/mvc/viewStudent</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	 	<servlet-mapping>
 		
 			<servlet-name>ControllServlet</servlet-name>
 		
 			<url-pattern>*.func</url-pattern>
 						
 	</servlet-mapping>
 	
 	 	 	<servlet-mapping>
 		
 			<servlet-name>ErrorStudentListServlet</servlet-name>
 		
 			<url-pattern>/servlet/mvc/errorStudent</url-pattern>
 						
 	</servlet-mapping>
</web-app>
